<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199232017234-n2e8a0a15crcq7v0u29n1nok8o1pmdun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199232017234-n2e8a0a15crcq7v0u29n1nok8o1pmdun</string>
	<key>API_KEY</key>
	<string>AIzaSyACmXgbtZvWH063v2QFutJSmKbxJ6NCgjA</string>
	<key>GCM_SENDER_ID</key>
	<string>199232017234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macgongmon.overwatch-arcade</string>
	<key>PROJECT_ID</key>
	<string>overwatch-arcade</string>
	<key>STORAGE_BUCKET</key>
	<string>overwatch-arcade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199232017234:ios:11ce34e8b8e137899ba08b</string>
	<key>DATABASE_URL</key>
	<string>https://overwatch-arcade.firebaseio.com</string>
</dict>
</plist>